In [2]:
#Que1:
import pandas as pd 
data ={'a':[1,2,3],'b':[4,5,6]}
df =pd.DataFrame(data)
result =df ['a']+df['b']
print(result)
# Qutput :A: [5, 7, 9]

0    5
1    7
2    9
dtype: int64

In [4]:
#Que2:
import numpy as np
arr = np.array([1,2,3,4,5])
result=arr[arr%2==0]
print(result)
#B:[2, 4]

[2 4]

In [6]:
#Que3:
import pandas as pd 
data = {'Name':['alice','bob','charlie'],'age':[25,30,22]}
df =pd.DataFrame(data)
result =df[df['age'] > 25]['Name']
print(result)
A. ['Bob', 'Charlie']

1    bob
Name: Name, dtype: object

In [8]:
#Que4:
import numpy as np
arr = np.array([1,2,3,4,5])
result = np.mean(arr) + np.std(arr)
print(result)

4.414213562373095

In [11]:
#Que5:
import pandas as pd 
data = {'a':[1,2,3,4,5],'b':[10,20,30,40,50]}
df=pd.DataFrame(data)
result= df['a'] * df['b']
print(result)
#A. [10, 40, 90, 160, 250]

0     10
1     40
2     90
3    160
4    250
dtype: int64

In [12]:
#Que6:
import numpy as np
arr = np.array([[1,2,3],[4,5,6]])
result = np.sum(arr,axis=0)
print(result)
#A. [5, 7, 9]

[5 7 9]

In [13]:
#Que7:
import pandas as pd
data ={'Name':['alice','bob','charlie'],'Age':[25,30,22]}
df =pd.DataFrame(data)
result = df[df['Age']> 25 ]['Name'].values
print(result)

['bob']

In [14]:
#Que8.
import numpy as np
arr = np.array([3,1,4,1,5,9,2,6,5,3,5])
result = np.unique(arr)
print(result)
#A. [1, 2, 3, 4, 5, 6, 9]

[1 2 3 4 5 6 9]

In [15]:
#Que9:
import pandas as pd 
data ={'a':[1,2,3],'b':[4,5,6]}
df = pd.DataFrame(data)
result = df.sum(axis=0)
print(result)
#B. [6, 15]

a     6
b    15
dtype: int64

In [17]:
#Que10:
import numpy as np
arr = np.array([1,2,3,4,5])
result = np.percentile(arr,75)
print(result)
#C. 4.0

4.0